  body{
    margin: 0;
    z-index: 0;
    padding: 0;
}
.main{
    width: 100;
    display: flex;
 flex-direction: row;
/* height: 100px; */
  position: relative;

  
    
   
}
/* navhead */
.blacky{
flex: 3;
    width: 100%;
    height: 45px;
    background-color: black;
    
   
}
.navhead{
    color: white;
    font-size: 25px;
    position: absolute;
    left:190px ;
    top: -10px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline;


}
.round1{
    /* width: 2px;
    height: 2px; */
    border-radius: 50%;
    position: absolute;
    top: 15px;
 right: 240px;


}
.head2 {
    font-size: 10px;
    color: white;
    position: absolute;
    left: 299px;
    list-style: none;
    top: 10px;
    
  
    
}
.blacky ul li{
display: inline;
padding: 5px;
}
.blackcy2{
    width:100px;
    background-color:black;
    width: 100%;
    height: 45px;
    flex: 1;



}
.navtextlast{
    font-size: 10px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}


.whiteback{
    height: 40px;
    background-color: white;
    width: 100%;
    justify-content: center;
    position: relative;

    

}
.text1{
    font-size: 12px;
    line-height: 10px;
    position: absolute;
    left: 420px;
    color: blue;
    top: 9px;
    font-family: sans-serif;
    font-weight: lighter;
}

.black2{
    height: 34px;
    width: 100%;
background-color: black;
}
.mainpics{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 257px 257px;

    justify-content: start;
    align-items: end;
    position: relative;
    
}

.pic1{
    grid-column-start: 1;
grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 3;
}
.pic1 img{
    width: 842px;
    height: 510px;
}
.pic2 img{
    width:100%;
    height: 253px

}
.header1{position: absolute;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    left:73px;
    top: 95px;
    color: white;


}
.para1{
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 165px;
    color: white;

    line-height: 15px;
    left: 73px;



}
.textname1{position: absolute;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    right: 95px;
    top: 50px;
    color: white;

}
.textname2{position: absolute;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    right: 130px;
    top: 70px;
    color: white;

}
.textname3{position: absolute;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    right: 128px;
    top: 285px;
    color: white;

}
.para2{position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 295px;

    line-height: 15px;
    right:130px;
    color: white;
}
.button5{
    font-size: 12px;
    font-family: sans-serif;
    /* font-weight: bold; */
    width: 90px;
    height: 40px;
    left: 73px;
    top: 250px;
    position: absolute;
    background-color:#ffffff;
    border: 2px solid #ffffff;

}
.button5:hover{
    background-color: silver;

}
.imgmain1{
    /* height: 653px; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    
   

}
.backimg1{
    flex: 1;
    width: 100%;
    position: relative;


}
.backimg2{flex: 1;
    position: relative;

}
.backimg3{
    position: relative;
flex: 1;
}
.imgtop1,.imgtop2,.imgtop3{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    

}

.imgtop1:hover{
    opacity:1 ;
    
 
    

}
.imgtop2:hover{
    opacity: 1;
}
.imgtop3:hover{
    opacity: 1;
}

footer{
    width: 100%;
    height: 285px;
    background-color: black;
    position: relative;
}
.lione{font-size: 12px;
 font-family: sans-serif;
 color: white;
 position: absolute;
 left: 400px;
 top: 35px;

}
.lione li{
    padding: 7px;
    list-style: none;
    color: white;

   
}
.litwo{
    font-size: 12px;
    font-family: sans-serif;
    list-style: none;
    color: white;
    position: absolute;
    left: 540px;
    top: 35px;


}
.litwo li{
    padding: 7px;
}
.lithree{font-size: 12px;
    font-family: sans-serif;
    list-style: none;
    color: white;position: absolute;
    left: 680px;
    top: 37px;

}
.lithree li{
    padding: 7px;

}
.backtext1
{position: relative;

}
.textmain1{font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 90px;
    top: 115px;

}
.para3{
    font-size: 12px;

font-family: sans-serif;
font-weight: bold;
position: absolute;
left:90px ;
top: 220px;
color:white;


}
.button6{font-size: 12px;
    font-family: sans-serif;
    /* font-weight: bold; */
    width: 110px;
    height: 40px;
    left:90px;
    top: 290px;
    position: absolute;
    background-color:#ffffff;
    border: 2px solid #ffffff;

}


.backtext2{position: relative;

}
.textmain2{  font-size: 35px;
position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    left:90px ;
    top: 111px;
    color: white;

}
.para4{font-size: 12px;
    position: absolute;

    font-family: sans-serif;
    font-weight: bold;
    left:90px ;
    top:210px ;
    color: white;

}
.button7{font-size: 12px;
    font-family: sans-serif;
    /* font-weight: bold; */
    width: 110px;
    height: 40px;
    left: 90px;
    top: 290px;
    position: absolute;
    background-color:#ffffff;
    border: 2px solid #ffffff;

}
